.homepage-container
  .homepage-header
    =image_tag "maxkheadshotcropped.png", id: 'profile-picture'
  .main-body-container
    %h1 Hi, I'm Max.
    .button-container
      %button.info My Info
      %button.work My Work
    .info-container
      %span.work Omaha! is an interactive tutorial on the pre-snap strategy of an American Football Quarterback. While tutorial mode is still in development, the "play" page allows a user to simulate an NFL® play.
      %span.stack Stack: Ruby on Rails, AngularJS, CoffeeScript, Snap.svg 
      %span.info Creative full stack developer. Focused on creating enjoyable web experiences for all.
