.homepage-container
  .homepage-header
    =image_tag "maxkheadshotcropped.png", id: 'profile-picture'
  .main-body-container
    %h1 Hi, I'm Max.
    .button-container
      %button.info My Info
      %button.work My Work
    .info-container
      %span Omaha! is an interactive tutorial on the pre-snap strategy of an American Football Quarterback.
