.homepage-container {
  font-family: 'Josefin Sans', sans-serif;

  .homepage-header {
    background-image: 
      linear-gradient(#54caff, white);
    padding: 1em;

    #profile-picture {
      $border-radius: 50%;

      max-width: 16em;
      max-height: auto;
      display: block;
      margin: 0 auto;
      moz-border-radius: $border-radius;
      webkit-border-radius: $border-radius;
      border-radius: $border-radius;
    }
  }

  .main-body-container {
    text-align: center;
  }
}
