.homepage-container {
  font-family: 'Josefin Sans', sans-serif;

  .homepage-header {
    background-image: 
      linear-gradient(#54caff, white);
    padding: 1em;

    #profile-picture {
      $border-radius: 50%;

      max-width: 16em;
      max-height: auto;
      display: block;
      margin: 0 auto;
      moz-border-radius: $border-radius;
      webkit-border-radius: $border-radius;
      border-radius: $border-radius;
    }
  }

  .main-body-container {
    text-align: center;

    .button-container {
      margin: 5em;

      button {
        $button-border-radius: 2em;

        width: 14em;
        height: 4em;
        margin: 2em;
        border: 1px solid black;
        background-color: white;
        moz-border-radius: $button-border-radius;
        webkit-border-radius: $button-border-radius;
        border-radius: $button-border-radius;
        font-size: 1.2em;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bold;
        outline: none;
      }

      .clicked-button {
        background-color: orange;
      }
    }

    .info-container {
      display: none;
    }
  }
}
